<nav class="navbar navbar-expand-lg fixed-top navbar-light py-0 my-0" id="mainHeader">
    <a href=""><img src="assets/images/logo1.png" id="logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item" href="#homeSection" SimpleSmoothScroll >Home</a> &nbsp;&nbsp;
        <a class="nav-item" href="#aboutSection" SimpleSmoothScroll  >About</a> &nbsp;&nbsp;
        <a class="nav-item" href="#educationSection" SimpleSmoothScroll>Education</a> &nbsp;&nbsp;
        <a class="nav-item" href="#experienceSection" SimpleSmoothScroll>Experience</a> &nbsp;&nbsp;
        <a class="nav-item" href="#skillsSection" SimpleSmoothScroll>Skills</a> &nbsp;&nbsp;
        <a class="nav-item" href="#projectsSection" SimpleSmoothScroll>Projects</a> 
      </div>
    </div>
  </nav>

  <!-- Main Container -->
  <div class="container-fluid">
    
    <div class="row" id="homeSection">
      <div class="col-lg-4 "></div>
        <div class="col-lg-4 text-center" id="homebody" >
              <h1 class="animated fadeIn -delay-5s">Hello, my name is </h1>
                <h1 class="animated tada -delay-5s">Devon Zhen</h1><br><br>
                <h5> I'm Full-Stack Developer</h5>
        </div>
        <div class="col-lg-4"></div>
    </div>
    
    <!-- About Section -->
    <div class="row"  id="aboutSection" >
        <div class="col-1 "></div>
        <div class="col-10 text-center" id="aboutBody" >
            <h1> About </h1>
            <div class="row" id="aboutlist" >
                <div class="col-1 d-none d-sm-block" >&nbsp;</div>
                <div class="col-5 d-flex" id="AboutImage" >
                  <img  src="assets/images/Profile.jpg" id="myPhoto">
                </div>
                <div class="col-5  text-left" id="About" >
                  <p>
                    Hey! I am a recent graduate from New Jersey Institute of Technology with a Information Technology Degree.
                    I enjoy playing with different technologies and see how it works.
                  </p> <br class="d-none d-sm-block">
                  <p>
                    Designing websites and looking into the depths of databases are fascinating adventures. It shows how all companies display themselves on the internet and 
                    attract consumers. 
                  </p> <br class="d-none d-sm-block">
                  <p>
                    As a fullstack developer, I want to achieve an modern view to the future of the internet!
                  </p>
                </div>
                <div class="col-1 d-none d-sm-block">&nbsp;</div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <!-- Education Section -->
    <div class="row" id="educationSection">
      <div class="col-1"></div>
      <div class="col-10 text-center" id="educationBody">
        <h1> Education </h1><br>
        <div class="row">
          <div class="col-lg-1 d-none d-sm-block"></div>
          <div class="col-lg-5 " id="education">
            <mat-card id="NJITCard" style="align-items: center; ">
              <br>
              <img mat-card-image src="assets/images/NJITLogo.png" id="School-image" >
                <ul id="educationlist" >
                  <li>New Jersey Institute of Technology</li>
                  <li>Major: Information Technology, BS</li>
                  <li>Graduated Completed: December 2019</li>
                </ul>
            </mat-card>
          </div>
          <div class="col-lg-5" id="education">
            <mat-card id="WWPHSNCard">
              <br>
              <img mat-card-image src="assets/images/wwphsn.png" id="School-image" >
              <ul id="educationlist">
                <li> Windsor Plainsboro High School North </li>
                <li>Graduated Completed: June 2015</li>
              </ul>
            </mat-card>
          </div>
          <div class="col-lg-1 d-none d-sm-block"></div>
        </div>
      </div>  
      <div class="col-1"></div>
    </div>

    <!--  Experience section -->
    <div class="row"  id="experienceSection">
      <div class="col-1"></div>
      <div class="col-10 text-center" id="experienceBody" >
        <h1> Experience </h1>
        <br><br>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10" style="text-align: left;">
                <div class="row">
                  <div class="col-1" >
                    <i class="fas fa-angle-right"></i>
                  </div>
                  <div class="col-7" >
                    <div><h3> BanaSolutions - Full Stack Developer (Intern)</h3></div>
                    <div> <p>Create a Nodejs Application to connect to an API to display transactions</p></div>
                  </div>
                  <div class="col-4" style="text-align: right;"><h4>May - Aug 2018</h4></div>
                </div>
            <hr>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10" style="text-align: left;">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-angle-right"></i>
                  </div>
                  <div class="col-7">
                    <div><h3> BanaSolutions - Frontend (Intern)</h3></div>
                    <div> <p>Create a webpage to connect to API and display cleanly</p></div>
                  </div>
                  <div class="col-4" style="text-align: right;"><h4>May - Aug 2018</h4></div>
                </div>
            <hr>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10" style="text-align: left;">
            <div class="row">
              <div class="col-1">
                <i class="fas fa-angle-right" ></i>
              </div>
              <div class="col-8">
                <div><h3> Personal - Full Stack Developer</h3></div>
                <div> <p>Course created a Login/Registration website that connects to a Database</p></div>
              </div>
              <div class="col-3" style="text-align: right;"><h4>Jan - Mar 2017</h4></div>
            </div>
            <hr>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10" style="text-align: left;">
            <div class="row">
              <div class="col-1">
                <i class="fas fa-angle-right" ></i>
              </div>
              <div class="col-8">
                <div><h3>  System Integration Project - Full Stack Developer</h3></div>
                <div> <p>Course that involved my group and I to build a full application with frontend to backend</p></div>
              </div>
              <div class="col-3" style="text-align: right;"><h4>Sept - Dec 2019</h4></div>
            </div>
            <hr>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <div class="col-1"></div>
  </div>

  <!--  Skills Section -->
  <div class="row" id="skillsSection">
    <div class="col-1"></div>
    <div class="col-10" id="skillsBody">
      <h1> Skills </h1>
      <br>
      <div class="row">
        <div class="col-4">
          <h3>Main</h3>
          <div class="mainSkillsBody text-left" >
            <main >
              <ol class="gradient-list" >
                <li>Java<i class="fab fa-java fa-2x" style="color: red;"></i></li>
                <li>Angular<i class="fab fa-angular fa-2x" style="color: rgb(161, 7, 7);"></i></li>
                <li>HTML/CSS <i class="fab fa-css3-alt fa-2x" style="color: rgb(0, 110, 255);"></i><i class="fab fa-html5 fa-2x" style="color: rgb(255, 51, 0);"></i></li>
                <li>Bootstrap<i class="fab fa-bootstrap fa-2x" style="color: rgb(105, 25, 235);"></i></li>
                <li>Spring<i class="fas fa-leaf fa-2x" style="color: rgb(25, 235, 95);"></i></li>
                <li>Eclipse IDE/Visual Studio<i class="fas fa-file-code fa-2x" style="color:rgb(160, 37, 241)"></i></li>
              </ol>
            </main>
          </div>
        </div>
        <div class="col-4">
          <h3>Secondary</h3>
          <div class="mainSkillsBody text-left">
            <main>
              <ol class="gradient-list">
                <li>Databases<i class="fas fa-database fa-2x" style="color: rgb(7, 31, 110);"></i></li>
                <li>Github/Git<i class="fab fa-git-alt" style="font-size: 25px; color: rgb(29, 158, 62);"></i><i class="fab fa-github fa-2x" style="color: rgb(5, 185, 50);"></i></li>
                <li>Apache Tomcat<i class="fas fa-server fa-2x" style="color:rgb(175, 118, 43)"></i></li>
                <li>Virtual Machines<i class="fas fa-desktop fa-2x" style="color:rgb(51, 61, 153)"></i></li>
                <li>Windows OS<i class="fab fa-windows fa-2x" style="color:rgb(10, 134, 218)"></i></li>
                <li>Linux (Ubunutu)<i class="fab fa-ubuntu fa-2x" style="color:rgb(221, 137, 11)"></i></li>
              </ol>
            </main>
          </div>
        </div>
        <div class="col-4">
          <h3>Other Technologies</h3>
          <div class="mainSkillsBody text-left">
            <main>
              <ol class="gradient-list">
                <li>Node<i class="fab fa-node-js fa-2x" style="color: rgb(10, 131, 60);"></i></li>
                <li>Npm<i class="fab fa-npm fa-2x" style="color:rgb(196, 5, 5)"></i></li>
                <li>Slack<i class="fab fa-slack fa-2x" style="color:rgb(98, 7, 134)"></i></li>
                <li>AWS<i class="fab fa-aws fa-2x" style="color:rgb(214, 137, 21)"></i></li>
                <li>Trello<i class="fab fa-trello fa-2x" style="color:rgb(28, 88, 167)"></i></li>
              </ol>
            </main>
          </div>
        </div>
      </div>
    </div>    
    <div class="col-1"></div>        
</div>

<!--  Projects Section -->
<div class="row" id="projectsSection">
  <div class="col-1"></div>
  <div class="col-10" id="projectsBody">
    <h1> Projects </h1><br> <h5>Click on "Project #" to see the project</h5><br> 
      <div class="row">
        <div class="col-4">
          <mat-card class="projectCard" style="border-bottom-style: solid; border-bottom-color: rgb(3, 101, 230);">
              <mat-card-header style="text-align: left;" (click)="newTab('http://devonzhen.com/NJITWebsite/')">
                 <div mat-card-avatar class="example-header-image" ></div>
                <mat-card-title >Project One</mat-card-title>
                <mat-card-subtitle>NJIT Website</mat-card-subtitle>
              </mat-card-header>
            <hr>
            <mat-card-content>
              <p style="font-size: larger; text-align:left">
                <span style="color: red;">Angular 8</span>: Build the frontend UI & frontend validation<br>
                <span style="color: green;">Spring Boot</span>: Middle tier to create RESTful API micro-service<br>
                <span style="color: rgb(10, 134, 218);">PostgreSQL</span>: DB hold account info
              </p>
            </mat-card-content>
          </mat-card>
          <br><br>
          <mat-card class="projectCard" style="border-bottom: green; border-bottom-style: solid;">
            <a href="#iframeSection" SimpleSmoothScroll>
              <mat-card-header style="text-align: left;"  >
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project Four</mat-card-title>
                <mat-card-subtitle >N/A</mat-card-subtitle>
              </mat-card-header>
            </a>
            <hr>
            <mat-card-content>
              <p></p>
            </mat-card-content>
          </mat-card>
        </div>
        
        <div class="col-4" >
          <mat-card class="projectCard" style="border-bottom: rgb(219, 4, 208); border-bottom-style: solid;">
              <mat-card-header style="text-align: left;" (click)="newTab('http://devonzhen.com/DnD/')"> 
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project Two</mat-card-title>
                <mat-card-subtitle >DnD</mat-card-subtitle>
              </mat-card-header>
            <hr>
            <mat-card-content>
              <p style="font-size: larger; text-align:left">
                <span style="color: red;">Angular 8</span>: Build the UI & frontend validation<br>
                <span style="color: green;">Spring Boot</span>: Middle tier to create RESTful API micro-service <br>
                <span style="color: rgb(7, 204, 7);">Hibernate</span>: Object Relational Mapping (ORM) <br>
                <span style="color: rgb(10, 134, 218);">PostgreSQL</span>: DB to hold accounts & character info
              </p>
            </mat-card-content>
          </mat-card> 
          <br><br>
          <mat-card class="projectCard" style="border-bottom: rgb(127, 2, 211); border-bottom-style: solid;">
            <a href="#iframeSection" SimpleSmoothScroll>
              <mat-card-header style="text-align: left;" >
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project Five</mat-card-title>
                <mat-card-subtitle>N/A</mat-card-subtitle>
              </mat-card-header>
            </a>
            <hr>
            <mat-card-content>
              <p></p>
            </mat-card-content>
          </mat-card> 
        </div>
        
        <div class="col-4">
          <mat-card class="projectCard"  style="border-bottom: rgb(251, 255, 0); border-bottom-style: solid;">
            <a href="#iframeSection" SimpleSmoothScroll>
              <mat-card-header style="text-align: left;" >
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project Three</mat-card-title>
                <mat-card-subtitle>N/A</mat-card-subtitle>
              </mat-card-header>
            </a>
            <hr>
            <mat-card-content>
              <p></p>
            </mat-card-content>
          </mat-card> 
          <br><br>
          <mat-card class="projectCard"  style="border-bottom: rgb(211, 2, 54); border-bottom-style: solid;">
            <a href="#iframeSection" SimpleSmoothScroll>
              <mat-card-header style="text-align: left;" >
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project Six</mat-card-title>
                <mat-card-subtitle>N/A</mat-card-subtitle>
              </mat-card-header>
            </a>
            <hr>
            <mat-card-content>
              <p></p>
            </mat-card-content>
          </mat-card> 
        </div>
       
      </div>
  </div>
  <div class="col-lg-1"></div>
</div> 



<!-- Footer -->
<div class="row">
  <footer style="background: lightgrey; height: 100px;width: 100%;">
    <div class="row text-center" id="Copyright" style="width: 100%">
      <div class="col-6">
        © Copyright © All Rights Reserved<br>Made with 
        <i class="fab fa-angular" style="color: rgb(255, 0, 0)"></i> & <i class="fab fa-html5" style="color: rgb(255, 94, 0)"></i>
        <br><b>Devon Zhen</b>
      </div>
      <div class="col-6">
        Social Media:<br>
        <a href="https://google.com"><i class="fab fa-facebook-f" style="color: rgb(59, 89, 152)"></i></a> &nbsp;
        <a href="https://google.com"><i class="fab fa-instagram" style="color: rgb(180, 80, 13)"></i></a> &nbsp;
        <a href="https://google.com"><i class="fab fa-linkedin-in" style="color: rgb(14, 118, 168)"></i></a> &nbsp;
        <a href="https://google.com"><i class="fab fa-twitter" style="color: rgb(0, 172, 238)"></i></a>
        <br>
        Email: <a href = "https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=zhen.devon@email.com" target="_blank">zhen.devon@gmail.com</a>
      </div>
    </div>
  </footer>
</div>


  </div>